{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-8 bg-blue-300 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">{{ user.username }}'s Profile</h1>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-700">Profile Details</h2>
        <div class="flex justify-center my-6">
            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="w-38 h-36 object-cover rounded-full">
            {% else %}
                <img src="default-profile.jpg" alt="Profile Picture" class="w-36 h-36 object-cover rounded-full">
            {% endif %}
        </div>
        <h2 class="text-2xl font-semibold mt-4">Bio</h2>
        <p class="text-gray-700 mt-2">{{ user_profile.bio|default:"This user has not set a bio yet." }}</p>

        <h2 class="text-2xl font-semibold mt-6">Update Your Profile</h2>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                Save Changes
            </button>
        </form>
    </div>
<br>
<a href="{% url 'home' %}" class="text-blue-500 hover:underline mt-4 block text-center">Back to Home</a>

</div>
{% endblock %}
